<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

      <h2>Homepage</h2>
  <p>Hello {{user.username }}!</p>

    <a href='{% url "social:begin" "google-oauth2" %}'>Google</a>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>

     <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
</body>